# Directories
/bin/
obj/
lib/
objs/*
stage/
vc2010/
objs/Win32/
builds/windows/vc2010/.vs/

Makefile
!.makefiles/makefile

# vs
**/*.user
**/.vs/
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.filters
**/*.sln
**/*.cpb
**/*.layout

# vscode
.vscode/ipch

# codeblocks
**/*.layout
**/*.depend
**/*.cscope_file_list
**/*.save-failed
**/*.workspace
**/*.cbp
**/*.make

# Precompiled Headers
*.gch
*.pch

# vcpkg
vendor/vcpkg

# /Shushao/vendor/**/**
