//#include <windows.h>
#include "Resources.h"

/* https:\\\\docs.microsoft.com\\en-us\\windows\\desktop\\menurc\\resource-types */

STANDARDSHADER_VERT     RCDATA  "..\\Renderer\\Shaders\\glsl\\standardshader.vert"
STANDARDSHADER_FRAG     RCDATA  "..\\Renderer\\Shaders\\glsl\\standardshader.frag"
BASESHADER_VERT         RCDATA  "..\\Renderer\\Shaders\\glsl\\baseshader.vert"
BASESHADER_FRAG         RCDATA  "..\\Renderer\\Shaders\\glsl\\baseshader.frag"
FONTSHADER_VERT         RCDATA  "..\\Renderer\\Shaders\\glsl\\fontshader.vert"
FONTSHADER_FRAG         RCDATA  "..\\Renderer\\Shaders\\glsl\\fontshader.frag"
WIREFRAMESHADER_VERT    RCDATA  "..\\Renderer\\Shaders\\glsl\\wireframeshader.vert"
WIREFRAMESHADER_FRAG    RCDATA  "..\\Renderer\\Shaders\\glsl\\wireframeshader.frag"
PHONGSHADER_VERT        RCDATA  "..\\Renderer\\Shaders\\glsl\\phongshader.vert"
PHONGSHADER_FRAG        RCDATA  "..\\Renderer\\Shaders\\glsl\\phongshader.frag"
PARTICLESSHADER_VERT    RCDATA  "..\\Renderer\\Shaders\\glsl\\particlesshader.vert"
PARTICLESSHADER_FRAG    RCDATA  "..\\Renderer\\Shaders\\glsl\\particlesshader.frag"
PARTICLESSHADER_GEOM    RCDATA  "..\\Renderer\\Shaders\\glsl\\particlesshader.geom"

IMG_AVATAR              RCDATA  ".\\avatar.png"
FONT_CONSOLAS           FONT    ".\\consolas.ttf"
